body                     { margin: 30px; }
h1                       { padding-top: 0in; color: #523184; }
h2                       { color: #523184; margin-top: 35px; }
h3                       { color: #523184; margin-top: 30px; }
h4                       { color: #523184; }
h5                       { color: #523184; }
pre                      { background-color: #ffffee; padding: 10px; border: solid 1px; }

p.pre                    { background-color: #ffffee; padding: 10px; border: solid 1px; font-family: "Courier New"; font-size: 10pt }

p.main                   { font-weight: bold; padding-top: 10px; margin-top: 40px; border-top: solid 1px; }
p.desc                   { }
p.itemhead               { margin-bottom: -15px; }
p.item                   { margin-left: 40px }
p.statment               { color: purple; padding: 12px; border: solid 1px; }
p.epigraph          	 { padding-top: 0 ; text-align: center; }
code			 { font-family: Courier; font-size: 12pt; color: blue}

div.section h1.title     { padding-top: 0in; color: #523184; }
div.article h1.title     { padding-top: 0.75in; color: #523184; }
div.references dt        { margin-top: 10px; }
