* text=auto !eol
/.10.html svneol=native#text/html
/.11.html svneol=native#text/html
/.12.html svneol=native#text/html
/.13.html svneol=native#text/html
/.14.html svneol=native#text/html
/.15.html svneol=native#text/html
/.2.html svneol=native#text/html
/.3.html svneol=native#text/html
/.4.html svneol=native#text/html
/.5.html svneol=native#text/html
/.6.html svneol=native#text/html
/.7.html svneol=native#text/html
/.8.html svneol=native#text/html
/.9.html svneol=native#text/html
/.html svneol=native#text/html
/BiDi.html svneol=native#text/html
/BiDialgorithmforICU.html svneol=native#text/html
/BreakIterator.html svneol=native#text/html
/Calendar.html svneol=native#text/html
/CharacterIterator.html svneol=native#text/html
/ChoiceFormat.html svneol=native#text/html
/ClassGraph.class svneol=native#unset
/ClassGraphPanel.class svneol=native#unset
/ClassID.html svneol=native#text/html
/ClassLayout.class svneol=native#unset
/CollationElementIterator.html svneol=native#text/html
/CollationKey.html svneol=native#text/html
/Collator.html svneol=native#text/html
/DateFormat.html svneol=native#text/html
/DateFormatSymbols.html svneol=native#text/html
/DecimalFormat.html svneol=native#text/html
/DecimalFormatSymbols.html svneol=native#text/html
/ERROR_COUNT.html svneol=native#text/html
/FieldPosition.html svneol=native#text/html
/Format.html svneol=native#text/html
/Formattable.html svneol=native#text/html
/GregorianCalendar.html svneol=native#text/html
/HIER.html svneol=native#text/html
/HIERjava.html svneol=native#text/html
/ICU_VERSION.html svneol=native#text/html
/MessageFormat.html svneol=native#text/html
/NavigatorButton.class svneol=native#unset
/Normalizer.html svneol=native#text/html
/NumberFormat.html svneol=native#text/html
/ParsePosition.html svneol=native#text/html
/ResourceBundle.html svneol=native#text/html
/RuleBasedCollator.html svneol=native#text/html
/SamplecodefortheICUBiDiAPI.html svneol=native#text/html
/SimpleDateFormat.html svneol=native#text/html
/SimpleTimeZone.html svneol=native#text/html
/StringCharacterIterator.html svneol=native#text/html
/TimeZone.html svneol=native#text/html
/UBiDi.html svneol=native#text/html
/UBiDiDirection.html svneol=native#text/html
/UBiDiLevel.html svneol=native#text/html
/UBreakIteratorType.html svneol=native#text/html
/UCHAR_MAX_VALUE.html svneol=native#text/html
/UCHAR_MIN_VALUE.html svneol=native#text/html
/UCalendarAMPMs.html svneol=native#text/html
/UCalendarAttribute.html svneol=native#text/html
/UCalendarDateFields.html svneol=native#text/html
/UCalendarDaysOfWeek.html svneol=native#text/html
/UCalendarDisplayNameType.html svneol=native#text/html
/UCalendarLimitType.html svneol=native#text/html
/UCalendarMonths.html svneol=native#text/html
/UCalendarType.html svneol=native#text/html
/UCharCharacterIterator.html svneol=native#text/html
/UCharDigitPair.html svneol=native#text/html
/UCollationResult.html svneol=native#text/html
/UCollationStrength.html svneol=native#text/html
/UDate.html svneol=native#text/html
/UDateFormatStyle.html svneol=native#text/html
/UDateFormatSymbolType.html svneol=native#text/html
/UFieldPosition.html svneol=native#text/html
/ULocale.html svneol=native#text/html
/UNormalizationMode.html svneol=native#text/html
/UNormalizationOption.html svneol=native#text/html
/UNumberFormat.html svneol=native#text/html
/UNumberFormatAttribute.html svneol=native#text/html
/UNumberFormatStyle.html svneol=native#text/html
/UNumberFormatSymbols.html svneol=native#text/html
/UNumberFormatTextAttribute.html svneol=native#text/html
/U_COMMON_API.html svneol=native#text/html
/Unicode.html svneol=native#text/html
/UnicodeCompressor.html svneol=native#text/html
/UnicodeSet.html svneol=native#text/html
/UnicodeString.html svneol=native#text/html
/aindex.html svneol=native#text/html
/down.gif svneol=native#unset
/icon1.gif svneol=native#unset
/icon2.gif svneol=native#unset
/icu_isBigEndian.html svneol=native#text/html
/icu_isNaN.html svneol=native#text/html
/icu_tzset.html svneol=native#text/html
/index.html svneol=native#text/html
/logo.gif svneol=native#unset
/scsu_compress.html svneol=native#text/html
/scsu_decompress.html svneol=native#text/html
/scsu_init.html svneol=native#text/html
/scsu_reset.html svneol=native#text/html
/u_austrcpy.html svneol=native#text/html
/u_charCellWidth.html svneol=native#text/html
/u_charDirection.html svneol=native#text/html
/u_charType.html svneol=native#text/html
/u_formatMessage.html svneol=native#text/html
/u_isIDIgnorable.html svneol=native#text/html
/u_isIDPart.html svneol=native#text/html
/u_isIDStart.html svneol=native#text/html
/u_isJavaIDPart.html svneol=native#text/html
/u_isJavaIDStart.html svneol=native#text/html
/u_isalpha.html svneol=native#text/html
/u_isbase.html svneol=native#text/html
/u_iscntrl.html svneol=native#text/html
/u_isdefined.html svneol=native#text/html
/u_isdigit.html svneol=native#text/html
/u_islower.html svneol=native#text/html
/u_isprint.html svneol=native#text/html
/u_isspace.html svneol=native#text/html
/u_istitle.html svneol=native#text/html
/u_isupper.html svneol=native#text/html
/u_normalize.html svneol=native#text/html
/u_parseMessage.html svneol=native#text/html
/u_strcat.html svneol=native#text/html
/u_strcpy.html svneol=native#text/html
/u_strncat.html svneol=native#text/html
/u_strncmp.html svneol=native#text/html
/u_strncpy.html svneol=native#text/html
/u_tolower.html svneol=native#text/html
/u_totitle.html svneol=native#text/html
/u_toupper.html svneol=native#text/html
/u_uastrcpy.html svneol=native#text/html
/u_uastrncpy.html svneol=native#text/html
/ubidi_close.html svneol=native#text/html
/ubidi_countRuns.html svneol=native#text/html
/ubidi_getDirection.html svneol=native#text/html
/ubidi_getLength.html svneol=native#text/html
/ubidi_getLevelAt.html svneol=native#text/html
/ubidi_getLevels.html svneol=native#text/html
/ubidi_getLogicalIndex.html svneol=native#text/html
/ubidi_getLogicalMap.html svneol=native#text/html
/ubidi_getLogicalRun.html svneol=native#text/html
/ubidi_getParaLevel.html svneol=native#text/html
/ubidi_getVisualIndex.html svneol=native#text/html
/ubidi_getVisualMap.html svneol=native#text/html
/ubidi_getVisualRun.html svneol=native#text/html
/ubidi_invertMap.html svneol=native#text/html
/ubidi_open.html svneol=native#text/html
/ubidi_openSized.html svneol=native#text/html
/ubidi_reorderLogical.html svneol=native#text/html
/ubidi_reorderVisual.html svneol=native#text/html
/ubidi_setLine.html svneol=native#text/html
/ubidi_setPara.html svneol=native#text/html
/ubrk_close.html svneol=native#text/html
/ubrk_countAvailable.html svneol=native#text/html
/ubrk_current.html svneol=native#text/html
/ubrk_first.html svneol=native#text/html
/ubrk_following.html svneol=native#text/html
/ubrk_getAvailable.html svneol=native#text/html
/ubrk_last.html svneol=native#text/html
/ubrk_next.html svneol=native#text/html
/ubrk_open.html svneol=native#text/html
/ubrk_openRules.html svneol=native#text/html
/ubrk_preceding.html svneol=native#text/html
/ubrk_previous.html svneol=native#text/html
/ucal_add.html svneol=native#text/html
/ucal_clear.html svneol=native#text/html
/ucal_clearField.html svneol=native#text/html
/ucal_close.html svneol=native#text/html
/ucal_countAvailable.html svneol=native#text/html
/ucal_countAvailableTZIDs.html svneol=native#text/html
/ucal_equivalentTo.html svneol=native#text/html
/ucal_get.html svneol=native#text/html
/ucal_getAttribute.html svneol=native#text/html
/ucal_getAvailable.html svneol=native#text/html
/ucal_getAvailableTZIDs.html svneol=native#text/html
/ucal_getLimit.html svneol=native#text/html
/ucal_getMillis.html svneol=native#text/html
/ucal_getNow.html svneol=native#text/html
/ucal_getTimeZoneDisplayName.html svneol=native#text/html
/ucal_inDaylightTime.html svneol=native#text/html
/ucal_isSet.html svneol=native#text/html
/ucal_open.html svneol=native#text/html
/ucal_roll.html svneol=native#text/html
/ucal_set.html svneol=native#text/html
/ucal_setAttribute.html svneol=native#text/html
/ucal_setDate.html svneol=native#text/html
/ucal_setDateTime.html svneol=native#text/html
/ucal_setMillis.html svneol=native#text/html
/ucal_setTimeZone.html svneol=native#text/html
/ucnv_fromUChars.html svneol=native#text/html
/ucnv_fromUnicode.html svneol=native#text/html
/ucnv_getAvailableName.html svneol=native#text/html
/ucnv_getCCSID.html svneol=native#text/html
/ucnv_getMaxCharSize.html svneol=native#text/html
/ucnv_getMinCharSize.html svneol=native#text/html
/ucnv_getName.html svneol=native#text/html
/ucnv_getPlatform.html svneol=native#text/html
/ucnv_getStarters.html svneol=native#text/html
/ucnv_getType.html svneol=native#text/html
/ucnv_open.html svneol=native#text/html
/ucnv_openU.html svneol=native#text/html
/ucnv_reset.html svneol=native#text/html
/ucnv_setDefaultName.html svneol=native#text/html
/ucnv_setSubstChars.html svneol=native#text/html
/ucnv_toUChars.html svneol=native#text/html
/ucnv_toUnicode.html svneol=native#text/html
/ucol_close.html svneol=native#text/html
/ucol_closeElements.html svneol=native#text/html
/ucol_countAvailable.html svneol=native#text/html
/ucol_equal.html svneol=native#text/html
/ucol_getAvailable.html svneol=native#text/html
/ucol_getDisplayName.html svneol=native#text/html
/ucol_getMaxExpansion.html svneol=native#text/html
/ucol_getNormalization.html svneol=native#text/html
/ucol_getOffset.html svneol=native#text/html
/ucol_getRules.html svneol=native#text/html
/ucol_getSortKey.html svneol=native#text/html
/ucol_getStrength.html svneol=native#text/html
/ucol_greater.html svneol=native#text/html
/ucol_greaterOrEqual.html svneol=native#text/html
/ucol_keyHashCode.html svneol=native#text/html
/ucol_next.html svneol=native#text/html
/ucol_open.html svneol=native#text/html
/ucol_openRules.html svneol=native#text/html
/ucol_previous.html svneol=native#text/html
/ucol_reset.html svneol=native#text/html
/ucol_setNormalization.html svneol=native#text/html
/ucol_setOffset.html svneol=native#text/html
/ucol_setStrength.html svneol=native#text/html
/ucol_setText.html svneol=native#text/html
/ucol_strcoll.html svneol=native#text/html
/udat_applyPattern.html svneol=native#text/html
/udat_clone.html svneol=native#text/html
/udat_close.html svneol=native#text/html
/udat_countAvailable.html svneol=native#text/html
/udat_countSymbols.html svneol=native#text/html
/udat_format.html svneol=native#text/html
/udat_get2DigitYearStart.html svneol=native#text/html
/udat_getAvailable.html svneol=native#text/html
/udat_getCalendar.html svneol=native#text/html
/udat_getNumberFormat.html svneol=native#text/html
/udat_getSymbols.html svneol=native#text/html
/udat_isLenient.html svneol=native#text/html
/udat_open.html svneol=native#text/html
/udat_openPattern.html svneol=native#text/html
/udat_parse.html svneol=native#text/html
/udat_set2DigitYearStart.html svneol=native#text/html
/udat_setCalendar.html svneol=native#text/html
/udat_setLenient.html svneol=native#text/html
/udat_setNumberFormat.html svneol=native#text/html
/udat_setSymbols.html svneol=native#text/html
/udat_toPattern.html svneol=native#text/html
/uloc_getAvailable.html svneol=native#text/html
/uloc_getISOCountries.html svneol=native#text/html
/uloc_getISOLanguages.html svneol=native#text/html
/unum_clone.html svneol=native#text/html
/unum_close.html svneol=native#text/html
/unum_countAvailable.html svneol=native#text/html
/unum_format.html svneol=native#text/html
/unum_formatDouble.html svneol=native#text/html
/unum_getAttribute.html svneol=native#text/html
/unum_getAvailable.html svneol=native#text/html
/unum_getDoubleAttribute.html svneol=native#text/html
/unum_getSymbols.html svneol=native#text/html
/unum_getTextAttribute.html svneol=native#text/html
/unum_open.html svneol=native#text/html
/unum_openPattern.html svneol=native#text/html
/unum_parse.html svneol=native#text/html
/unum_parseDouble.html svneol=native#text/html
/unum_setAttribute.html svneol=native#text/html
/unum_setDoubleAttribute.html svneol=native#text/html
/unum_setSymbols.html svneol=native#text/html
/unum_setTextAttribute.html svneol=native#text/html
/unum_toPattern.html svneol=native#text/html
/ures_getVersionNumber.html svneol=native#text/html
/ures_open.html svneol=native#text/html
/ures_openW.html svneol=native#text/html
