* text=auto !eol
design/LocaleElements.xml svneol=native#text/xml
design/character_conversion_alias.html svneol=native#text/html
design/charset_detection.html svneol=native#text/html
design/collation/CheckCollationValidity.html svneol=native#text/html
design/collation/CollationTest_NON_IGNORABLE.zip -text
design/collation/CollationTest_SHIFTED.zip -text
design/collation/FractionalUCA.zip -text
design/collation/UCA_Rules.zip -text
design/collation/draft_processed_UCA.zip -text
design/conversion/bocu1/bocu1.html svneol=native#text/html
design/cumulative_fallback.html svneol=native#text/html
design/currency.html svneol=native#text/html
design/icu_data_loading_redesign.html svneol=native#text/html
design/registration.html svneol=native#text/html
design/searchproposal.html svneol=native#text/html
design/transliteration_rule_tutorial.html svneol=native#text/html
design/ucd_icu.html svneol=native#text/html
design/unicodeset_properties.html svneol=native#text/html
design/user_g1.gif -text
design/user_g2.gif -text
design/versioning.html svneol=native#text/html
