body	{ font-family: serif; color: #000000; background-color: #FFFFFF; margin:2em }
li	{ margin-top: 0.25em; margin-bottom: 0.25em }
td, th	{ text-align:left; vertical-align:top; border:1px solid #0000FF; padding:2pt; margin:0pt;}
table	{ border-collapse: collapse }
caption	{ font-size: 120%; font-weight: bold; margin-top: 6pt; margin-bottom: 6pt }
span.changed	{ border-style: dotted; border-width: 1; background-color: #FFFF00 }