/*
 * Default CSS style sheet for the ICU Open Source site
 */

/* Global styles */
body,p,li,ol,ul,th,td { 
	font-size: 10pt;
	font-family: "Arial", "Helvetica", "sans-serif";
}

body
{
	margin: 0;
}
.mainbody
{
	padding: 1em;
}

/* A paragraph that is tucked up against the header above it */
P.first {
	margin-top: 0pt;
}

/*
 * Customize the headers to have less space around them than usual
 */
h1 {
	margin-bottom: 0pt;
	margin-top: 0pt;
	font-weight: 700;
	font-size: 20pt;
	font-family: "Arial", "Helvetica", "sans-serif";
}

h2 {
	margin-bottom: 0pt;
	margin-top: 12pt;
	font-weight: 700;
	font-size: 14pt;
	font-family: "Arial", "Helvetica", "sans-serif";
}

h3 {
	background-color: #666666;
	color: White;
	margin-bottom: 0pt;
	margin-top: 12pt;
	padding-left: 0.75em;
	font-size: 1em;
	font-family: "Arial", "Helvetica", "sans-serif";
}

h4, h5, h6 {
	margin-bottom: 0pt;
	margin-top: 12pt;
	/* padding-left: 0.75em; */
	font-family: "Arial", "Helvetica", "sans-serif";
}

/*
 * Categories for page headers used in the site templates,
 * since Netscape doesn't obey margin settings for HTML headers
 */
p.header1 {
	font-weight: 700;
	font-size: 18pt;
	margin-top: 0px;
	margin-bottom: 10px;
}

p.header2 {
	font-weight: 700;
	font-size: 14pt;
	margin-top: 10px;
	margin-bottom: 0px;
}

/*
 * Navigation sidebar on the left hand of most pages
 */
td.sidebar1 { 
	background-color: #99CCFF;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 1em;
	padding-left: 0.2em;
	white-space: nowrap;
}

td.sidebar2 { 
	background-color: #99CCFF;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0.2em;
	padding-right: 0.2em;
	white-space: nowrap;
	text-decoration: none;
	display: block;
}
td.sidebar2:hover { 
	background-color: #EEEEFF;
}

a.sidebar2 {
	text-decoration: none;
	width: 92%;
}
a.sidebar2:link {
	color: #000099;
}
a.sidebar2:hover { 
	background-color: #EEEEFF;
	text-decoration: underline;
}

/* This is the faded header at the top */
td.fadedtop
{
	background-color: #006699;
	background-image: url(images/gr100.gif);
}

span.toptitle {
	color: #ffffff;
	position: relative;
	left: 40;
	font-size: 30;
}

/* Related site on the left */
p.relatedsite {
	color: White;
	font-weight: 700;
	font-size: 10pt;
	margin-top: 1em;
	margin-bottom: 0;
	padding-left: 0.2em;
	white-space: nowrap;
}

/* Related site on the left */
p.sidebar3
{
	margin-top: 0.75em;
	margin-bottom: 0;
	padding-left: 0.8em;
}
a.sidebar3
{
	font-size: 0.9em;
	text-decoration: none;
}
a.sidebar3:link
{
	text-decoration: none;
	color: White;
}
/*.sidebar3:visited
{
}*/
a.sidebar3:hover
{
	text-decoration: underline;
}

/*
 * FAQ
 */
li.faq_contents {
	font-weight: 500;
}
P.faq_q {
	font-weight: 700; 
	margin-bottom: 0px;
}
P.faq_a {
	margin-top: 0px;
}

/* News items */
table.newsItem 
{
	padding-left: 1em;
	padding-right: 1em;
	border-width: medium;
}
th.newsItem {
	background-color: #666666;
	color: White;
}
td.newsItem 
{
	background-color: #CCCCCC;
}

/*
 * User Guide Stules
 */
 td.userGuide {
	 background-color: #99ccff;
 }